@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgba(255, 25, 25, 1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

body {
    padding-top: 100px;
}

/* Cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 1.6em;
    color: #fff;
}

.navigation a {
    position: relative;
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin:hover {
    background: #fff;
    color: #162938;
}

/* Caixa de Login */
.sobressair {
    position: fixed;
    /* corrigido para centralizar */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    height: 440px;
    background: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    z-index: 100;
}

.sobressair.ativoLogin {
    transform: translate(-50%, -50%) scale(1);
}

.sobressair.ativo {
    height: 520px;
}

/* Troca entre Login e Tela de Registro */
.sobressair .form-box {
    width: 100%;
    padding: 40px;
}

.sobressair .formsLogin {
    transition: transform .18s ease;
    transform: translateX(0);
}

.sobressair.ativo .formsLogin {
    transition: none;
    transform: translateX(-400px);
}

.sobressair .formsRegister {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.sobressair.ativo .formsRegister {
    transition: transform .18s ease;
    transform: translateX(0);
}

.sobressair .fechar {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: transparent;
    font-size: 2em;
    color: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formsLogin h2 {
    /* corrigido */
    font-size: 2em;
    color: #162938;
    text-align: center;
}

/* Troca entre Login e Tela de Esqueci Senha */
.sobressair.ativot .formsLogin {
    transition: none;
    transform: translateX(-400px);
}

.sobressair .formsAlteracao {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.sobressair.ativot .formsAlteracao {
    transition: transform .18s ease;
    transform: translateX(0);
}

.sobressair.ativot {
    height: 450px;
    width: 380px;
}

/* layout dos cards da tela de produtos */
.produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

/* card  */
.card {
    width: 250px;
    background: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* animação cards da tela de produtos */
.card:hover {
    transform: scale(1.05);
}

/* imagem  cards da tela de produtos*/
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

/* botão comprar cards da tela de produtos */
.btnComprar {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #3c84ce;
    color: white;
    cursor: pointer;
}

.btnComprar:hover {
    background: #2d6fb0;
}


/* container do carrinho */
.carrinho-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 30px auto;
}

/* card do carrinho */
.carrinho-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* imagem do produto card tela carrinho */
.carrinho-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

/* infos card tela carrinho */
.item-info {
    flex: 1;
    margin-left: 20px;
    color: #162938;
}

/* quantidade card tela carrinho */
.quantidade {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/* botões + e - card tela carrinho*/
.quantidade button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #3c84ce;
    color: white;
    font-size: 18px;
}

/* remover card tela carrinho */
.btnRemover {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: crimson;
    color: white;
    cursor: pointer;
}

.btnRemover:hover {
    background: darkred;
}

/* layout dos botoes da tela carrinho */
.btnContinuar,
.btnFinalizar {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btnContinuar {
    background-color: #000000;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px #ff0000;
}

.btnFinalizar {
    background-color: #000000;
    color: white;
    box-shadow: 0 2px 4px #ff0000;
}

.btnComprar,
.btnRemover,
.btnContinuar,
.btnFinalizar {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

/* efeito da frase total na tela carrinho */
.total {
    display: block;
    width: 220px;

    margin: 15px auto;
    padding: 10px 20px;

    background-color: #000000;
    color: #ffffff;

    border-radius: 5px;
    border: none;

    font-size: 16px;
    font-weight: bold;
    text-align: center;

    box-shadow: 0 2px 4px #ff0000;
}

/* ========================= */
/* ÁREA DOS FILTROS */
/* ========================= */

.areaFiltros{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ========================= */
/* PESQUISA */
/* ========================= */

.barraPesquisa{
    width: 70%;
    max-width: 700px;
    height: 55px;

    background: white;

    border-radius: 40px;

    display: flex;
    align-items: center;

    padding: 0 20px;

    margin-bottom: 40px;
}

.barraPesquisa ion-icon{
    font-size: 24px;
    color: #555;
    margin-right: 10px;
}

.barraPesquisa input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
}

/* ========================= */
/* GÊNEROS */
/* ========================= */

.containerGeneros{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    flex-wrap: wrap;
}

.cardGenero{
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;

    transition: 0.3s;
}

.cardGenero:hover{
    transform: scale(1.08);
}

.circuloGenero{
    width: 140px;
    height: 140px;

    border-radius: 50%;

    overflow: hidden;

    border: 4px solid white;

    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.circuloGenero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardGenero p{
    margin-top: 12px;

    color: white;

    font-size: 18px;

    font-weight: bold;
}